.button {
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 10px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
  }
  