.check-box{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.box{
    display: flex;
}

.checkbox-value{
    color: rgb(10, 10, 10);
    font-size: 12px;
    margin: 12px 8px 0px 5px;
}

.box input{
    cursor: pointer;

}

input[type=checkbox] + label{
    cursor: pointer;
    margin-left: 0.2em;
    padding: 0.2em;

}

input[type=checkbox]{
    display: none;
    cursor: pointer;
}

input[type=checkbox]+label:before{
    content: "\2714"; 
    border: 0.08em solid black;
    border-radius: 0.2em;
    height: 1em;
    cursor: pointer;
    padding-left: 0.2em;
    font-size: 1.1em;
    padding-bottom: 0.05em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    vertical-align: text-bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]:checked + label:before{
background-color: #009fc7;
border-color: #009fc7;
color: #fff;
}
/* When the checkbox is checked, add a blue background */
