.Texts{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.text-optionsa{

    background: #FFFFFF;
    padding: 8px 12px;
    margin: 5px 10px 0px 0px;
    line-height: 140%;
}

.text-optionsa:hover{
    border: 1px solid blue;
}

.commentBox input[type='text']::placeholder {  
                  
    text-align: left; 
} 