.MainTravel{
display: flex;
flex-direction: column;

}

.Box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 2px 2px -2px gray;

}

.boxe{
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px -2px gray;

}

.Travel{
    display: flex;
    margin-top: 20px;
}

.button-style{
    display: flex;
    justify-content: flex-end;
}

.commentBox{
    width: 70%;
    height: 50%;
}
.row10{
    margin-bottom: 20px;
}

.comment{
    width: 100%;
    height: 100%;
}



.size {
    width: 20%;
}
.csize{
    width: 10%;
}
.commentsize{
    width: 44%;
}

.file-cointainer{
    display: flex;



}





