.sub-heading{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #1b6c92;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}

.sub-heading:after{
    content: '*';
    color: red;
    margin-right: 3px;
}